@font-face {
  font-family: "American Typewriter";
  src: url("./fonts/American\ Typewriter\ Regular.ttf");
}

@font-face {
  font-family: "American Typewriter Bold";
  src: url("./fonts/American\ Typewriter\ Bold.ttf");
}

:root {
  --brandeis-blue: #006cfc;
  --imperial-blue: #001997;
  --light-cyan: #d8fcfc;
  --spanish-green: #009048;
  --eton-blue: #91ccaf;
  --dark-tan: rgba(136, 137, 73, 0.9);
  --cordovan: rgba(137, 73, 73, 0.9);
  --space-cadet: #182460;
  --light-silver: #d9d9d9;
  --tomato: #ff6442;
}

* {
  box-sizing: border-box;
}

body {
  background: url("../client/images/background.svg");

  min-width: 360px;

  margin: 0px;
}
